GITLAB_URL=https://gitlaburl/
GITLAB_PROJECTS=group/project1,group/project2
GITLAB_TOKEN=marmalasuogiene

SLACK_HOOK=https://hooks.slack.com/services/etcetc

ROCKET_HOOK=https://your-server.rocket.chat/hooks/TOKEN_ID/TOKEN

NOTIFICATION_TARGETS=rocket,slack